.upperContainer {
    background-color: var(--base-dark);
    color: var(--base-light);
    height: 35vh;
    text-align: center;
}

.upperContainer h1 {
    font-size: 20px;
    margin: var(--input-padding);
    margin-top: 3vh;
    text-transform: uppercase;
}

.upperContainer p {
   font-size: 14px;
   font-weight: 300;
   margin: auto;
   width: 300px;
}

.arrowLeft {
    padding: 16px;
    text-align: left;
}

.lowerContainer {
    height: 55vh;
}

.lowerContainer form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.lowerContainer form input {
    border: 1px solid var(--light-blue);
    margin: 8px auto;
    padding: var(--input-padding);
    width: 80vw;
}

.lowerContainer form input::placeholder {
    color: var(--accent-color);
}

.lowerContainer h2 {
    color: var(--base-dark);
    font-size: 16px;
    margin: 5vh auto 0;
    text-align: center;
    width: 300px;
}

.btn {
    border: none;
    background-color: var(--accent-color);
    font-size: 18px;
    color: var(--base-light);
    top: calc(100% - 51px);
    padding: 16px 0 12px;
    position: fixed;
    width: 100vw;
}

