.upperContainer {
    background-color: var(--dark-blue);
    color: var(--base-light);
    height: 35vh;
    text-align: center;
}

.upperContainer h1 {
    font-size: 20px;
    margin: var(--input-padding);
    margin-top: 4vh;
}

.upperContainer p {
   font-size: 14px;
   font-weight: 300;
   margin: auto; 
   width: 300px;
}

.arrowLeft {
    padding: 40px 10px 0;
    text-align: left;
}

.lowerContainer {
    height: 55vh;
}

.lowerContainer form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.lowerContainer form input {
    border: 1px solid var(--light-blue);
    margin: 8px auto;
    padding: var(--input-padding);
    width: 80vw;
}

.lowerContainer form input::placeholder {
    color: var(--dark-blue);
}

.lowerContainer h2 {
    color: var(--dark-blue);
    font-size: 16px;
    margin-top: 10vh;
    text-align: center;
}

.btn {
    border: none;
    background-color: rgb(218, 218, 218);
    font-size: 18px;
    color: var(--dark-blue);
    top: calc(100% - 51px);
    padding: 16px 0 12px;
    position: absolute;
    width: 100vw;
}

