.title {
  font-weight: 300;
  padding-top: 50px;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.cardContainer {
  background-color: rgb(240, 242, 247);
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  width: 100%;
}

.studentCard {
    display: flex;
}

.moreInfo {
  padding: 4%;
}

.moreInfo p {
    font-size: 14px;
    padding-top: 4px;
    font-weight: 400;
}

.emailbox {
    padding-top: 8px;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    gap: 2%;
}

.email {
    text-transform: lowercase;
}

.emailbox .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper {
  max-width: 30%;
  margin: 10px;
}

.lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  color: var(--base-dark);
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
  text-transform: uppercase;
}

.studentCard h3 {
  color: var(--base-dark);
  text-decoration: underline;
  text-decoration-color: var(--base-dark);
  text-decoration-thickness: 2px;
  font-size: 16px;
}

.studentCard img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.studentCard p {
  font-size: 14px;
  padding-top: 4px;
  text-transform: capitalize;
}

.links .link {
  color: var(--accent-color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.links span {
  font-size: 12px;
}

.link#disabled {
    color: #999999;
}

.arrowLeft a {
  color: var(--dark-blue);
  left: 16px;
  position: absolute;
  top: 16px;
}

/* .moreInfo {
    display: none;
} */