.title {
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.studentCard {
    background-color: rgb(240, 242, 247);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px auto;
    width: calc(50vw - 10px);
    text-align: center;
}

.lower {
    margin: 0 auto;
    width: 90%;
    height: 70px;
}

.studentCard h3 {
    color: var(--dark-blue);
    font-size: 16px;
    padding: 8px 4px 0;
}

.studentCard img {
    margin: 8px 23% 0;
    border-radius: 50%;
}

.studentCard p {
   font-size: 14px;
   padding: 8px 4px;
}

.portfolio {
 color: var(--dark-blue);
 text-align: center;
 text-transform: uppercase;
}

.arrowLeft a{
    color: var(--dark-blue);
    left: 16px;
    position: absolute;
    top: 16px;
}

.mail {
    font-weight: 300;
}
