.arrowLeft {
    color: var(--dark-blue);
    font-size: 20px;
}

.upperContainer {
  height: 90px;
  padding: 36px 30px 0;
}

.upperContainer h1 {
    color: var(--dark-blue);
    font-size: 24px;
    text-align: center;
}

.videoContainer {
    background-color: var(--light-blue);
    height: 300px;
    margin: auto;
    width: 300px;
}

.lowerContainer {
  color: var(--dark-blue) ;
  padding: 40px;
  text-align: center;
}

.lowerContainer h3 {
    margin: 8px;
    font-style: italic;
}