.arrowLeft {
    color: var(--accent-color);
    font-size: 20px;
}

.upperContainer {
  height: 50px;
  padding: 16px;
}

.upperContainer h1 {
    color: var(--dark-blue);
    font-size: 24px;
    text-align: center;
}

.videoContainer {
    background-color: var(--accent-color);
    height: 340px;
    margin:auto;
    width: 100%;
}

.lowerContainer {
  background-color: var(--base-dark);
  color: var(--base-light);
  margin: auto;
  height: 240px;
  text-align: center;
  width: 100%;
}

.lowerContainer h3 {
    margin: 28px auto 12px;
    font-style: italic;
    width: 300px;
}

.lowerContainer h2 {
  padding-top: 40px;
}
