.main {
  text-align: center;
}

.upperContainer {
  background-color: var(--base-dark);
  color: var(--base-light);
  height: 55vh;
}

.lowerContainer {
  background-color: var(--base-light);
  height: 45vh;
}

.upperContainer h2 {
  font-weight: 100;
  font-size: var(--h2);
  padding-top:var(--input-padding);
}

.upperContainer h1 {
  padding:var(--input-padding);
}

.upperContainer img {
  padding:var(--input-padding);
}

.sliderContainer {
  background-color: var(--base-light);
  color: var(--base-dark);
  left: calc(50% - 40%);
  position: absolute;
  top: 230px;
  width: 80%;
}

.sliderContainer h3{
  font-size: 24px;
}

.sliderContainer p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: var(--input-padding);
}

.btnFront {
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  color: var(--base-light);
  margin: 8% auto 15%;
  padding: 14px;
  width: 300px;
}
