@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap');

:root {
  --base-light: rgba(255,255,255,1);
  --base-dark: #040404;
  --accent-color: #d51951;
  --light-blue: rgba(188,224,253,1);
  --dark-blue: rgba(38,153,251,1);

  --base-radius: 10px;

  --font:'Red Hat Text', sans-serif;;
  --h2: 16px;
  --textbox-p: 18px;

  --input-padding: 16px;
}

* {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

a {
  color: var(--base-light);
  text-decoration: none;
}

.bigScreen {
    display: none;
}

@media  screen and (min-width: 650px) {
    .smallScreen {
        display: none;
    }

    .bigScreen  {
        display: block;
        position: absolute;
        top:10%;
        left: 30%;
        font-size: large;
        max-width: 400px;
        border: 20px solid var(--accent-color);
        padding: 2%;
    }
}